<h1>Cocktails#create</h1>
<p>Find me in app/views/cocktails/create.html.erb</p>

<%= simple_form_for @cocktails do |f| %>
  <%= f.input :name %>
  <%= f.input :ingredient %>
  <%= f.input :dose %>
  <%= f.button :submit %>
<% end %>
